.page-wrapper {
  padding: 32px;
  max-width: 1600px;
  margin: auto;
}

.filters-wrapper {
  background: #222222;
  padding: 12px;
  margin-bottom: 24px !important;
  box-shadow: rgb(150 150 150 / 16%) 0px 1px 4px;
}
