<div class="page-wrapper">
  <div class="filters-wrapper" nz-row [nzGutter]="[16, 8]">
    <div nz-col nzSpan="auto">
      <input nz-input placeholder="Search" [formControl]="searchControl" style="min-width: 300px;" />
    </div>

    <div nz-col nzSpan="auto">
      <nz-select
        nzMode="multiple"
        nzPlaceHolder="Body types"
        nzAllowClear
        [(ngModel)]="selectedBodyTypes"
        (ngModelChange)="filterVehicles()"
        style="min-width: 300px;"
      >
        <nz-option *ngFor="let bodyType of VehicleBodyTypes" [nzValue]="bodyType.value" [nzLabel]="bodyType.label"></nz-option>
      </nz-select>
    </div>

    <div nz-col nzSpan="auto">
      <nz-input-number nzPlaceHolder="Min Price" [formControl]="minPriceControl" [nzStep]="10000" style="min-width: 140px;"></nz-input-number>
    </div>

    <div nz-col nzSpan="auto">
      <nz-select
        nzPlaceHolder="Sort by"
        [(ngModel)]="sortByValue"
        (ngModelChange)="onChangeSort($event)"
        style="min-width: 180px;"
      >
        <nz-option nzValue="name" nzLabel="Sort By Name"></nz-option>
        <nz-option nzValue="priceAsc" nzLabel="Sort By Price (Asc)"></nz-option>
        <nz-option nzValue="priceDesc" nzLabel="Sort By Price (Desc)"></nz-option>
      </nz-select>
    </div>
  </div>

  <div nz-row [nzGutter]="[24, 24]">
    <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8" *ngFor="let vehicle of vehicles">
      <app-vehicle-card [vehicle]="vehicle"></app-vehicle-card>
    </div>

    <nz-empty *ngIf="vehicles.length == 0" [nzNotFoundContent]="contentTpl" style="margin: 42px auto;">
      <ng-template #contentTpl>
        <span>No Vehicles Found</span>
      </ng-template>
    </nz-empty>
  </div>
</div>
